.container{
    margin-top: 0px;
    background: rgb(246, 246, 246);
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 40px 40px 0 0;
    padding-top: 7%;
    padding-bottom: 15%;
}

.dish{
    padding-bottom: 10%;
    padding-top: 5%;
}
    
    