.container{
    margin-top: 60%;
    background: #F6F6F6;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 30px 30px 0 0;
    padding-top: 7%;
    padding-bottom: 15%;
    h1{
        font-family: 'shrikhandregular';
        font-size: 1.3em;
        display: flex;
        justify-content: space-between;
        width: 90%;
    }  
    h2{
        font-family: 'robotolight';
        font-size: 0.8em;
        margin-bottom: 5px;
        color: #353535;
    }  
    
}

.trait_dessus{
    border-top: 2px solid $tertiary-color;
    margin-bottom: 15px;
    width: 10%;
}

.dish1{
    animation: apparition-menu 300ms 1000ms backwards;
}

.dish2{
    animation: apparition-menu 300ms 1300ms backwards;
}

.dish3{
    animation: apparition-menu 300ms 1600ms backwards;
}

@keyframes apparition-menu{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.food{
    margin-bottom: 5%;
    position: relative;
    background:#FFFFFF;
    border-radius: 10px;
    box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    padding: 5%;
    &:hover{
        &::before{
            transform: scaleX(1);
        }
        .foodprice{
            transform: translate(-60px);
        }
        p{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 65%;
        }
        h3{
            overflow: hidden; 
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 230px;
        }
    }
    &::before{
        font-family: "Font Awesome 5 Free";
        content: "\f058";
        font-weight: bold;
        font-size: 20px;
        color: white;
        background-color: $tertiary-color;
        width: 20%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 10px 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 500ms;
    }
    &__description{
        display: flex;
        justify-content: space-between;
    }
    h3{
        font-size: 14.5px;
        font-family: 'robotobold';
        font-weight: bold;
        margin: 0;
        margin-bottom: 3px;
        
    }
    p{
        margin: 0;
        font-size: 11.2px;
        font-family: 'robotolight';
        max-width: 80%;
    }
}   

.foodprice{
    font-family: 'robotobold';
    font-weight: bold;
    transition: transform 500ms;
}


     
    
  
        
     
        
    
    
    
    