.headerprincipal{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 60px;
    &--border{
        border-bottom: #CFCFCF solid 2px;
    }   
    &__logo{
        width: 150px;
        margin-right: auto;
        margin-left: auto;
    }
        i{
            color: rgb(53, 53, 53);
            margin-left: 20px;
        }
}            
     
        
    
    
    
    

    

    
        
     
           
     
    
    
        
        
     
    
       
     

