@font-face {
  font-family: "shrikhandregular";
  src: url("../../public/fonts/shrikhand-regular-webfont.woff") format("woff"), url("../../public/fonts/shrikhand-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url(../../public/fonts/roboto-light-webfont.woff) format("woff"), url(../../public/fonts/roboto-light-webfont.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url(../../public/fonts/roboto-regular-webfont.woff) format(woff), url(../../public/fonts/roboto-regular-webfont.woff2) format(woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url(../../public/fonts/roboto-bold-webfont.woff) format(woff), url(../../public/fonts/roboto-bold-webfont.woff2) format(woff2);
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0px;
}

button {
  border: 1px solid;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 20px;
  color: white;
  padding: 10px;
}

.commanderbtn {
  margin-left: 33%;
  margin-right: 33%;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 20px 40% 20px 20px;
}
.footer__insigne {
  font-family: "shrikhandregular";
}

.headerprincipal {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  height: 60px;
}
.headerprincipal--border {
  border-bottom: #CFCFCF solid 2px;
}
.headerprincipal__logo {
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}
.headerprincipal i {
  color: #353535;
  margin-left: 20px;
}

img {
  width: 100%;
  margin-top: 0px;
}

.container {
  margin-top: 0px;
  background: #f6f6f6;
  padding-left: 7%;
  padding-right: 7%;
  border-radius: 40px 40px 0 0;
  padding-top: 7%;
  padding-bottom: 15%;
}

.dish {
  padding-bottom: 10%;
  padding-top: 5%;
}

.food {
  margin-bottom: 5%;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.food__description {
  display: flex;
  justify-content: space-between;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
  font-family: "roboto";
}
.localisation__title {
  margin-left: 15px;
}

.description {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10%;
}
.description__button {
  margin-top: 7%;
}

.fonctionnement {
  padding: 5%;
}
.fonctionnement__step {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f5edff;
  border-radius: 20px;
  margin-bottom: 8%;
  background: #f5edff;
}
.fonctionnement__step i {
  margin-right: 20px;
}

.carte {
  width: 100%;
  background: #f5edff;
  padding-top: 10%;
}

.preview {
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.preview__img {
  width: 100%;
  height: 180px;
}

/*# sourceMappingURL=style.css.map */
