.fa-heart {
    color: rgb(53, 53, 53);
    &:hover{
        font-weight: bold;
        color: $primary-color;
        animation: remplir-coeur 2000ms linear both;    
    }    
}    

@keyframes remplir-coeur{
    0%{
        opacity: .1;
    }

    100%{
        opacity: 1;
    }
}
    

