.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: $primary-color transparent $secondary-color transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.load{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 180px;
    opacity: 0;
    animation: apparition-loader 3s backwards;
}

@keyframes apparition-loader{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes apparition-contenu{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.contenu{
    animation: apparition-contenu 1000ms 3100ms backwards;
}

