@media all and (min-width: 426px) and (max-width: 768px){
    .fonctionnement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__step{
            width: 50%;
        }
        h1{
            margin-bottom: 60px;;
        }
    }

    .carte{
        display: flex;
        flex-direction: column;
        
        
        h1{
            margin-bottom: 60px;
            text-align: center;
        }
    }

    .preview{
        width: 50%;
        
    }

    .presentation_laptop{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer{
        width: 100%;
        text-align: center;
    }

    div.trait_dessus{
        width: 4%;
    }

} 

@media all and (min-width: 769px) and (max-width: 1024px){
    .fonctionnement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__step{
            width: 40%;
        }
        h1{
            margin-bottom: 60px;
        }
    }

    .carte{
        h1{
            margin-bottom: 60px;
            text-align: center;
        }
    }

    .presentation_laptop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
    }

    .preview{
        width: 40%;
        
    }

    footer.footer{
        padding-right: 0%;
        padding-left: 5%;
    }

    div.trait_dessus{
        width: 3%;
    }
}

@media all and (min-width:1025px) and (max-width:2000px){
    .fonctionnement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__step{
            width: 25%;
        }
        h1{
            margin-bottom: 60px;
        }
    }

    .carte{
        h1{
            margin-bottom: 60px;
            text-align: center;
        }
    }

    .presentation_laptop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        
    }

    .preview{
        width: 30%;
        height: 300px;
    }

    footer.footer{
        padding-right: 0%;
        padding-left: 4%;
    }

    article.preview{
        &--back1{
            margin-left: -3%;
        }
        &--back3{
            margin-left: -3%;
        }
    }

    div.trait_dessus{
        width: 2.3%;
    }


}