/* version tablette */
@media all and (min-width: 426px) and (max-width: 768px){
    .fonctionnement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__step{
            width: 50%;
        }
        h1{
            margin-bottom: 60px;;
        }
    }

    .carte{
        display: flex;
        flex-direction: column;
        
        
        h1{
            margin-bottom: 60px;
            text-align: center;
        }
    }

    .preview{
        width: 50%;
        
    }

    .presentation_laptop{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer{
        padding-right: 0;
        text-align: center;
    }

    div.trait_dessus{
        width: 4%;
    }

    .load{
        top: 130px;
    }

    

} 

/* version laptop */
@media all and (min-width: 769px) and (max-width: 1024px){
    .load{
        top: 300px;
    }

    .description{
        padding-bottom: 50px;
        padding-top: 50px;
        p{
            margin-bottom: 20px;
        }
    }

    .fonctionnement{
        display: flex;
        flex-direction: row;
        padding: 5%;
        height: 150px;
        align-items: flex-end;
        justify-content: space-between;
        h1{
            
            margin: 0;
            height: 60px;
            position: absolute;
            width: 90%;
            align-self: flex-start;
            text-align: center;
        }
        .numerofonction{
            margin-left: -9%;
        }
        &__step{
        width: 250px;
        padding-right: 0;
        justify-content: space-around;
        margin-bottom: 0;
        }
    }

    .carte{
        padding-bottom: 30px;
        padding-top: 50px;
        h1{
            margin-bottom: 60px;
            text-align: center;
            margin-top: 0;
            margin-right: 5%;
        }
    }

    .presentation_laptop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .preview{
        width: 40%;
        
    }

    .footer{
        padding-right: 5%;
        padding-left: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &__text{
            margin: 0;
        }
        &__insigne{
            margin: 0;
        }
    }

    div.trait_dessus{
        width: 3%;
    }

    .container{
        margin-top: 300px;
        padding-bottom: 5%;
        height: 600px;
        h1{
            width: 100%;
            justify-content: space-evenly;
        }
        h2{
            margin-top: 0;
        }
    }

    body.background1{
        background-position-y: -25%;
    }

    body.background2{
        background-position-y: 500%;
    }

    body.background3{
        background-position-y: -30%;
    }

    body.background4{
        background-position-y: -45%;
    }

    .arrangement-largeur{
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }

    .dish1{
        width: 280px;
        height: 428px;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .dish2{
        width: 280px;
        height: 428px;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .dish3{
        width: 280px;
        height: 428px;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .food{
        height: 63px;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    div.trait_dessus{
        width: 8%;
    }

    div.bouton_commande{
        margin-top: 0;
    }
}

/* version laptop L */
@media all and (min-width:1025px) and (max-width:1920px){
    .fonctionnement{
        display: flex;
        flex-direction: row;
        padding: 5%;
        height: 150px;
        align-items: flex-end;
        justify-content: space-between;
        h1{
            
            margin: 0;
            height: 60px;
            position: absolute;
            width: 90%;
            align-self: flex-start;
            text-align: center;
        }
        .numerofonction{
            margin-left: -13%;
        }
        &__step{
        width: 350px;
        padding-right: 0;
        justify-content: space-around;
        margin-bottom: 0;
        }
    }

    .description{
        padding-bottom: 50px;
        padding-top: 50px;
        p{
            margin-bottom: 20px;
        }
    }

    .carte{
        padding-top: 5%;
        h1{
            margin: 0 0 5% 0;
            padding: 0 5% 0 5%;
            text-align: center;
        }
    }

    .presentation_laptop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 5% 0 5%;
        
    }

    .preview{
        width: 20%;
        height: 200px;
        margin: 0;
    }

    .footer{
        padding-right: 5%;
        padding-left: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &__text{
            margin: 0;
        }
        &__insigne{
            margin: 0;
        }
    }

    .load{
        top: 300px;
    }

    .container{
        margin-top: 300px;
        padding-bottom: 5%;
        height: 600px;
        padding-top: 50px;
        h1{
            width: 100%;
            justify-content: space-evenly;
        }
        h2{
            margin-top: 0;
        }
    }

    body.background1{
        background-position-y: -125%;
    }

    body.background2{
        background-position-y: 120%;
    }

    body.background3{
        background-position-y: -140%;
    }

    body.background4{
        background-position-y: -140%;
    }
    
    div.trait_dessus{
        width: 7%;
    }

    .arrangement-largeur{
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }

    .dish1{
        width: 350px;
        height: 428px;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .dish2{
        width: 350px;
        height: 428px;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .dish3{
        width: 350px;
        height: 428px;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .food{
        height: 63px;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    div.bouton_commande{
        margin-top: 0;
    }
}

@media all and (min-width: 1540px) and (max-width: 1920px){
    .fonctionnement{
        &__step{
            width: 430px;
        }
    }

    .carte{
        padding-top: 20px;
        padding-bottom: 95px;
    }

    .container{
        margin-top: 450px;
    }

    .dish1{
        width: 450px;
    }

    .dish2{
        width: 450px;
    }

    .dish3{
        width: 450px;
    }

    div.trait_dessus{
        width: 5%;
    }

    body.background1{
        background-position-y: -400px;
    }

    body.background2{
        background-position-y: -940px;
    }

    body.background3{
        background-position-y: -450px;
    }

    body.background4{
        background-position-y: -430px;
    }
}