.localisation{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAEAEA;
    &__title{
        margin-left: 15px;
        font-family: 'robotoregular';
        color: #353535;
        font-size: 1.1em;
    }
    i{
        color: #353535;
    }
}    

.description{
    background:#F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10%;
    &__button{
        margin-top: 7%;
        font-family: 'robotoregular';
    }
    h1{
        font-family: 'robotobold';
        margin-bottom: 0;
    }
    p{
        font-family: 'robotolight';
        font-size: 0.9em;
    }
}   
    
    
.fonctionnement{
    padding: 5%;
    font-family: 'robotoregular';
    font-weight: bold;
    &__step{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(245, 237, 255) ;
        border-radius: 20px;
        margin-bottom: 8%;
        background: #F6F6F6;
        i{
            margin-right: 20px;
            color: #868686;
        }
        &--color{
            background-color: #F5EDFF;
        }
    }
}    
        

.carte{
    width: 100%;
    background: #F6F6F6;
    padding-top: 10%;
    h1{
        margin-left: 5%;
        font-family: 'robotoregular';
        font-weight: bold;
    }
}    
 
.preview{
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    &__img{
        width: 100%;
        height: 180px;
    }
}





    

